@model Restauracja.Models.Order

@{
    ViewBag.Title = "Nowe zamówienie";
}

<h2>Nowe zamówienie</h2>

@if (ViewBag.Error == true)
{
    <div class="alert alert-danger" role="alert">
        Wystąpił błąd podczas próby utworzenia.<br />
        Spróbuj ponownie.
    </div>
}
else if (ViewBag.Error == false)
{
    <div class="alert alert-success" role="alert">
        Utworzono pomyślnie.
        Przejdź do dodawania potraw.
    </div>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Table, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Table, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Table, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (ViewBag.Error != false)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        }
        else
        {
            <div>
                @Html.ActionLink("Dodaj potrawy", "../Order_Meal/Create", new { orderId = ViewBag.ZamowienieId }, new { @class = "btn btn-primary" })
            </div>
        }


    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
