@model IEnumerable<Restauracja.Models.Order_Meal>

@{
    ViewBag.Title = "Lista zamówionych potraw";
}

<h2>Lista zamówionych potraw</h2>
<td>
    @Html.ActionLink("Lista zamówień", "../Orders", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Dodaj", "Create", new { orderId = ViewBag.orderId }, new { @class = "btn btn-success" })
</td>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.Table)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meal.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meal.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Table)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meal.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meal.Price)
        </td>
        <td>
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
            
        </td>
    </tr>
}

</table>
